
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495245548102'); /* IE9*/
  src: url('iconfont.eot?t=1495245548102#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495245548102') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495245548102') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495245548102#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e612"; }

.icon-shou-left:before { content: "\e61e"; }

.icon-daishouhuo:before { content: "\e694"; }

.icon-shou:before { content: "\e6ba"; }

.icon-daishouhuo1:before { content: "\e977"; }

.icon-lajitong:before { content: "\e655"; }

.icon-daifahuo:before { content: "\e673"; }

.icon-lajitong1:before { content: "\ea06"; }

.icon-daifukuan:before { content: "\e61f"; }

