<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/Online_composition_1.css">
</head>
<body ng-controller="myCtrl">

<header>
    <div class="header">
        <a href="" id="left"></a>
        <span>图集信息</span>
    </div>
</header>

<content>
    <div>
        <ul>
            <li ng-repeat="obj in information1 track by $index" ng-click="foo($index)">
                <img ng-src="{{obj.title_img}}" alt="">
                <p ng-bind="obj.title_aa"></p>
            </li>
        </ul>
        <div class="Triangle_1"></div>
    </div>
    <div id="big">
        <div class="Total">
            <div class="frame">
                <div ng-repeat="obj in information.spread_1 track by $index">
                    <p ng-bind="obj"></p>
                </div>
            </div>
            <div class="frame">
                <div ng-repeat="obj in information.spread_2 track by $index">
                    <p ng-bind="obj"></p>
                </div>
            </div>
            <div class="frame">
                <div ng-repeat="obj in information.spread_3 track by $index">
                    <p ng-bind="obj"></p>
                </div>
            </div>
            <div class="frame">
                <div ng-repeat="obj in information.spread_4 track by $index">
                    <p ng-bind="obj"></p>
                </div>
            </div>
        </div>


        <!-- <div class="kuang">
             <div><p>综合项目</p></div>
             <div><p>电力线路敷设及安装</p></div>
             <div><p>电力线路敷设及安装</p></div>
         </div>
         <div class="kuang">
             <div><p>综合项目</p></div>
             <div><p>电力线路敷设及安装</p></div>
             <div><p>电力线路敷设及安装</p></div>
         </div>
         <div class="kuang">
             <div><p>参考图</p></div>
             <div><p>节能系列图集</p></div>
             <div><p>电力线路敷设及安装</p></div>
         </div>-->
    </div>
</content>

<footer>
    <div class="footer">
        <a href="back_home.html"><img src="../img/img_house.png" alt="" class="home"></a>
        <a href="back_home.html" class="home_write">首页</a>

        <a href="atlas_information.html"><img src="../img/img_back.png" alt="" class="back"></a>
        <a href="atlas_information.html" class="back_write">返回</a>
    </div>
</footer>

<script src="../js/angular.min.js"></script>
<script src="../js/angular-route1.4.5.js"></script>
<script src="../js/fontSize.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script>
    var app = angular.module("app", ["ngRoute"]);
    app.controller("myCtrl", function ($scope, $http) {
        $scope.arr = null;
        $http.get("../data/data1.json").success(function (data) {
//            console.log(data);
            $scope.arr = data;
//            console.log($scope.arr);
            $scope.information1 = data.information1;
            $scope.information = data.information[0];

            $scope.foo = function ($index) {
                $scope.information = data.information[$index];
                console.log($index);


                // 当点击时 三角与列表的文字与背景 和 内容也随之改变
                var H = $("ul li").height();
                console.log(H);
                $(".Triangle_1").css("top", $index * H + (H / 3) + "px");

                $("ul li").css("backgroundColor", "#6a7475");
                $("ul li p").css("color", "white");
                $("ul li").eq($index).css("backgroundColor", "#5e6869");
                $("ul li p").eq($index).css("color", "#fefbc6");

            }

            console.log($scope.arr.information);
            $.each($scope.arr.information.spread_1, function (i, obj) {
                console.log(obj);
            })
        })
    })

</script>
</body>
</html>