<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/Online_composition_3.css">
    <link rel="stylesheet" href="../data/font_rvu3epin406kcsor/iconfont.css">
</head>
<body ng-controller="myCtrl">

<header>
    <div class="header">
        <a href="" id="left"></a>
        <span>总图及室外工程</span>
    </div>
</header>

<!--<content>
    <div id="big" ng-repeat="obj in arr.classify_1 track by $index">
        <div id="img">
            <img ng-src="{{obj.img}}" alt="">
        </div>
        <div id="small">
            <p ng-bind="obj.name">{{}}</p>
            <div id="purchase">
                <p>购买</p>
                <div id="line"></div>
            </div>
            <span ng-bind="obj.money"></span>
            <span>价格：<del ng-bind="obj.money_no"></del></span>
        </div>
        <div id="case" ng-repeat="obj in arr.classify_1 track by $index">
            <p ng-bind="obj.content_a"></p>
            <p ng-bind="obj.content_b"></p>
            <p ng-bind="obj.content_c"></p>
        </div>
    </div>
    <div id="essay">
        <div id="essay_1" ng-repeat="obj1 in arr1.details track by $index">
            <p ng-bind="obj1.title"></p>
            <ul>
                <li ng-bind="obj1.title_a"></li>
                <li ng-bind="obj1.title_b"></li>
                <li ng-bind="obj1.title_c"></li>
                <li ng-bind="obj1.title_d">
                    <p ng-bind="obj1.title_e"></p>
                </li>
            </ul>
        </div>
        <div id="essay_2" ng-repeat="obj1 in arr1.validity track by $index">
            <p ng-bind="obj1.title">
                <img src="../img/guanbi.jpg" alt="" id="cut_1">
                <span id="show_1">点击关闭</span>
            </p>
            <p id="display_1" ng-bind="obj1.title_a"></p>
        </div>
        <div id="essay_3">
            <p ng-bind="arr1.catalog.title">
                <img src="../img/guanbi.jpg" alt="" id="cut_2">
                <span id="show_2">点击关闭</span>
            </p>
            <ul id="display_2">
                <li ng-repeat="obj1 in arr1.catalog.neirong track by $index">{{obj1.title_a}}<span>{{obj1.num}}</span>
                </li>
            </ul>
        </div>
        <div id="essay_4">
            <p>【样张】
                <img src="../img/guanbi.jpg" alt="" id="cut_3">
                <span id="show_3">点击关闭</span>
            </p>
            <div id="image">
                <img ng-src="{{obj1.img}}" alt="" ng-repeat="obj1 in arr1.style track by $index">
            </div>
        </div>
        <div class="Cart" ng-show="flag">
            <i class="iconfont icon-duigou"></i>
            <p>添加成功，在购物车等亲~</p>
        </div>
    </div>
</content>-->

<content>
    <div id="big" ng-repeat="obj in arr.classify_1 track by $index">
        <div id="img">
            <img ng-src="{{obj.img}}" alt="">
        </div>
        <div id="small">
            <p>{{obj.name}}</p>
            <div id="purchase">
                <p>购买</p>
                <div id="line"></div>
            </div>
            <span>{{obj.money}}</span>
            <span>价格：<del>{{obj.money_no}}</del></span>
        </div>
        <div id="case" ng-repeat="obj in arr.classify_1 track by $index">
            <p>{{obj.content_a}}</p>
            <p>{{obj.content_b}}</p>
            <p>{{obj.content_c}}</p>
        </div>
    </div>
    <div id="essay">
        <div id="essay_1" ng-repeat="obj1 in arr1.details track by $index">
            <p>{{obj1.title}}</p>
            <ul>
                <li>{{obj1.title_a}}</li>
                <li>{{obj1.title_b}}</li>
                <li>{{obj1.title_c}}</li>
                <li>{{obj1.title_d}}
                    <p>{{obj1.title_e}}</p>
                </li>
            </ul>
        </div>
        <div id="essay_2" ng-repeat="obj1 in arr1.validity track by $index">
            <p>
                {{obj1.title}}
                <img src="../img/guanbi.jpg" alt="" id="cut_1">
                <span id="show_1">点击关闭</span>
            </p>
            <p id="display_1">{{obj1.title_a}}</p>
        </div>
        <div id="essay_3">
            <p>{{arr1.catalog.title}}
                <img src="../img/guanbi.jpg" alt="" id="cut_2">
                <span id="show_2">点击关闭</span>
            </p>
            <ul id="display_2">
                <li ng-repeat="obj1 in arr1.catalog.neirong track by $index">{{obj1.title_a}}<span>{{obj1.num}}</span>
                </li>
            </ul>
        </div>
        <div id="essay_4">
            <p>【样张】
                <img src="../img/guanbi.jpg" alt="" id="cut_3">
                <span id="show_3">点击关闭</span>
            </p>
            <div id="image">
                <img ng-src="{{obj1.img}}" alt="" ng-repeat="obj1 in arr1.style track by $index">
            </div>
        </div>
        <div class="Cart" ng-show="flag">
            <i class="iconfont icon-duigou"></i>
            <p>添加成功，在购物车等亲~</p>
        </div>
    </div>
</content>

<footer>
    <div id="essay_5">
        <div ng-repeat="i in list track by $index">
            <span>数量:</span>
            <button ng-click="reduce($index)">-</button>
            <span ng-bind="i.count"></span>
            <button ng-click="add($index)">+</button>
        </div>
        <div>
            <p ng-click="addTo()">加入购物车</p>
        </div>
        <div>
            <p><a href="Shopping_cart.html">立即购买</a></p>
        </div>
    </div>
    <div id="essay_6">
        <div class="footer">
            <a href="back_home.html"><img src="../img/img_house.png" alt="" class="home"></a>
            <a href="back_home.html" class="home_write">首页</a>

            <a href="atlas_information.html"><img src="../img/img_back.png" alt="" class="back"></a>
            <a href="atlas_information.html" class="back_write">返回</a>
        </div>
    </div>
</footer>

<script src="../js/fontSize.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route1.4.5.js"></script>
<script src="../js/jquery-3.1.1.js"></script>
<script>
    var app = angular.module("app", ["ngRoute"]);
    app.controller("myCtrl", function ($scope, $http, $interval) {
        $scope.arr = null;
        $scope.arr1 = null;
        $http.get("../data/data1.json").success(function (data) {
//            console.log(data);
            $scope.arr = data;
            console.log($scope.arr);
            $.each($scope.arr.classify_1, function (i, obj) {
                console.log(obj);
                $scope.arr1 = obj;
//                console.log($scope.arr1);
                //让  $scope.arr1 = obj; 和之前的一样
                $.each($scope.arr1.details, function (j, obj1) {
                    console.log(obj1);
                });
                $.each($scope.arr1.validity, function (j, obj1) {
                    console.log(obj1);
                });
                $.each($scope.arr1.catalog, function (j, obj1) {
                    console.log(obj1);
                });
            });

            // 点击关闭使视图隐藏 并且显示改变
            setTimeout(function () {
                //  第一个隐藏显示
                $("#show_1").click(function () {
                    if ($(this).text() == "点击关闭") {
                        $("#display_1").hide();
                        $(this).text("点击打开");
                        $("#cut_1").attr("src", "../img/kaiqi.jpg");
                    }
                    else {
                        $("#display_1").show();
                        $(this).text("点击关闭");
                        $("#cut_1").attr("src", "../img/guanbi.jpg");
                    }
                });

                // 第二个隐藏显示
                $("#show_2").click(function () {
                    if ($(this).text() == "点击关闭") {
                        $("#display_2").hide();
                        $(this).text("点击打开");
                        $("#cut_2").attr("src", "../img/kaiqi.jpg");
                    }
                    else {
                        $("#display_2").show();
                        $(this).text("点击关闭");
                        $("#cut_2").attr("src", "../img/guanbi.jpg");
                    }
                });

                // 第三个隐藏显示
                $("#show_3").click(function () {
                    if ($(this).text() == "点击关闭") {
                        $("#image").hide();
                        $(this).text("点击打开");
                        $("#cut_3").attr("src", "../img/kaiqi.jpg");
                    }
                    else {
                        $("#image").show();
                        $(this).text("点击关闭");
                        $("#cut_3").attr("src", "../img/guanbi.jpg");
                    }
                })
            }, 0);
        });


        $scope.list = [
            {id: 1001, name: "asd", count: 0, price: 9, check: false}
        ];

        // 减少按钮运算
        $scope.reduce = function (index) {
            if ($scope.list[index].count > 1) {
                $scope.list[index].count--;
            }
            else {
                $scope.list[index].count = 0;
            }
        };

        // 增加按钮运算
        $scope.add = function (index) {
            $scope.list[index].count++;
        };


        // 点击 加入购物车时的场景
        $scope.addTo = function () {
            $scope.flag = true;
        }

        var tiemr = $interval(function () {
            $scope.flag = false;
        }, 2500);
    })

</script>

</body>
</html>