<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/shopping_cart.css">
    <link rel="stylesheet" href="../data/font_ffqrcm8cd31sjor/iconfont.css">
    <script src="../js/fontSize.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route1.4.5.js"></script>
    <script src="../js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="../data/font_ffqrcm8cd31sjor/iconfont.css">
    <!--<script src="../js/Shopping_cart.js"></script>-->
</head>
<body ng-controller="myCtrl">
<header>
    <div>
        <img src="../img/img_touxiang.jpg" alt="">
    </div>
    <p>server_98765</p>
</header>
<section>
    <div class="line"></div>
    <div class="Introduction">
        <div class="top">
            <div>
                <input type="checkbox" id="pitch">
                <label for="pitch"></label>
            </div>
            <img ng-src="../img/img_luyou.jpg" alt="">
            <ul class="words">
                <li>06D401：吊车供电线</li>
                <li>路安装</li>
            </ul>
            <ul class="price">
                <li>￥ <span ng-bind="price"></span></li>
                <li style="text-align: right">
                    <span>数量：</span>
                    <button class="Less" ng-click="less()">-</button>
                    <span ng-bind="num"></span>
                    <button class="plus" ng-click="plus()">+</button>
                </li>
            </ul>
        </div>
        <div class="Pieces">
            <div class="img" ng-click="delete()">
                <i class="iconfont">&#xe612</i>
            </div>
            <div>
                <p>共 <span ng-bind="num"></span> 件商品</p>
                <p>实付：￥ <span ng-bind="num*price"></span></p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="Introduction">
        <div class="top">
            <div>
                <input type="checkbox" id="checked">
                <label for="checked"></label>
            </div>
            <img src="../img/img_luyou.jpg" alt="">
            <ul class="words">
                <li>06D401：吊车供电线</li>
                <li>路安装</li>
            </ul>
            <ul class="price">
                <li>￥ <span ng-bind="price1"> </span></li>
                <li style="text-align: right">
                    <span>数量：</span>
                    <button class="Less" ng-click="less1()">-</button>
                    <span>{{num1}}</span>
                    <button class="plus" ng-click="plus1()">+</button>
                </li>
            </ul>
        </div>
        <div class="Pieces">
            <div class="img">
                <!--<img src="../img/img_ljt_b.jpg" alt="">-->
                <i class="iconfont">&#xe612;</i>
            </div>
            <div>
                <p>共 <span ng-bind="num1"></span> 件商品</p>
                <p>实付：￥ <span ng-bind="num1*price1"></span></p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="Settlement">
        <div>
            <input type="checkbox" id="select">
            <label for="select" ng-click="all()"></label>
            <span>全选</span>
        </div>
        <div class="mony">
            <p>合计：￥<span>{{num*price+num1*price1}} </span></p>
            <p>不含运费</p>
        </div>
        <div>
            <p>结算<span>({{num+num1}})</span></p>
        </div>
    </div>
    <!--<div class="footer">
        <a href="back_home.html"><img src="../img/img_house.png" class="home"></a>
        <a href="back_home.html" class="home_write">首页</a>

        <a hrmy_order.htmlhtml"><img src="../img/img_back.png" class="back"></a>
        <a hrmy_order.htmlhtml" class="back_write">返回</a>
    </div>-->
    <div class="footer">
    <a href="back_home.html" id="home"></a>
    <span><a href="back_home.html">首页</a></span>
    <a href="my_order.html" id="back"></a>
    <span><a href="my_order.html">返回</a></span>
</div>
</footer>

<script>
    var app = angular.module("app", ["ngRoute"]);
    app.config(["$routeProvider", function ($routeProvider) {
        $routeProvider
            .when("/one", {
                templateUrl: "shopping_cart.html"
            })
//                .when("/two", {
//                    template: "<p>2222222</p>"
//                })
//                .when("/three", {
//                    template: "<p>3333333</p>"
//                })
//                .when("/four", {
//                    template: "<p>4444444</p>"
//                })
//                .otherwise({
//                    redirectTo: "/one"
//                })
    }]);
    app.controller("myCtrl", function ($scope, $http) {

        //数量
        $scope.num = 3;

        //单价
        $scope.price = 50;

        //单个总价
        $scope.total = $scope.num * $scope.price;

        $scope.less = function () {
            $scope.num--;
            if ($scope.num <= 0) {
                $scope.num = 0
            }
        };

        $scope.plus = function () {
            $scope.num++
        };

        //数量
        $scope.num1 = 2;

        //单价
        $scope.price1 = 50;

        //单个总价
        $scope.total1 = $scope.num1 * $scope.price1;

        $scope.less1 = function () {
            $scope.num1--;
            if ($scope.num1 <= 0) {
                $scope.num1 = 0
            }
        };

        $scope.plus1 = function () {
            $scope.num1++
        };

        //删除效果
        $(".Pieces .img").click(function () {
            console.log(1111);
            $(this).parent().parent().remove()
        });

        //全选
        var aInp = $(".top input")
        $scope.all = function () {
            for (var i in aInp) {
                if (!$(".Settlement input").prop("checked")) {
                    aInp[i].checked = true
                    $(".Pieces .img i").css("color", "red")
                    /*if(aInp[i].checked = true){
                        $(".Pieces .img i")[i].css("color", "red")
                    }*/
                } else {
                    aInp[i].checked = false
                    $(".Pieces .img i").css("color", "#000")
                }
            }
        };

        /*$http.get("../data/international_club.json").success(function (data) {
         //            console.log(data)
         $scope.obj = data;
         console.log($scope.obj);


         })*/
    });


</script>
</body>
</html>

