* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #190d07;
}
.header {
  height: 1.8rem;
  background-color: #190d07;
  position: relative;
}
.header .back {
  width: 0.54rem;
  position: absolute;
  left: 0.64rem;
  top: 0.44rem;
}
.header .catalogue {
  width: 0.94rem;
  position: absolute;
  right: 0.64rem;
  top: 0.44rem;
}
content .banner img {
  width: 15rem ;
}
content .business {
  padding: 0.5rem;
}
content .business div {
  height: 2.8rem;
  width: 14rem;
  background-color: #6d3f28;
  margin-top: 0.4rem;
  border-radius: 0.1rem;
  text-align: center;
}
content .business div a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 0.5rem;
  line-height: 5.5 ;
}
